@page "/admin-dashboard"
@rendermode InteractiveServer

@using BusinessLayer.Services.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using ModelLayer.Models

@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IContactService ContactService
@inject IEmailSubscriptionService EmailSubscriptionService

@inject IDialogService DialogService
<MudPopoverProvider/> @*only works if its in the page of the mud component*@
<MudDialogProvider/>

@attribute [Authorize(Roles = "Admin")]
<PageTitle>@pageTitle</PageTitle>

<section id="adminDashboard">
    <div class="dashboard-header">
        <div>
            <h1><span class="highlight">Admin</span> Dashboard</h1>  
        
            @if (authState != null && authState.User.Identity != null && authState.User.Identity.IsAuthenticated)
            {
                <p>Welcome, @authState.User.Identity.Name!</p>
            }
            else
            {
                <p>Loading user information...</p>
            }
        </div>
        <div>
            <a class="btn btn-primary" href="/admin-auth">Google Auth</a>
            <button class="btn btn-primary" @onclick="LogoutUser">Logout</button>
        </div>
    </div>

    <div class="mud-grids-container">
        <MudDataGrid T="Contact" Items="@contacts" Breakpoint="Breakpoint.Sm" MultiSelection="true" SortMode="SortMode.Multiple" Filterable="true"
        Hideable="true" QuickFilter="@quickFilterContacts">
            <ToolBarContent>
                <MudText Typo="Typo.h4">Contacts</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchContactsString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <Columns>
                <SelectColumn T="Contact" />
                <PropertyColumn Property="x => x.Id" Title="Id" Sortable="true" Filterable="false" />
                <PropertyColumn Property="x => x.FullName" Title="Name" Sortable="true" Filterable="true" />
                <PropertyColumn Property="x => x.Email" Title="Email" Sortable="false" Filterable="true" />
                <PropertyColumn Property="x => x.SessionCategory" Title="Session" Sortable="true" Filterable="true" />
                <PropertyColumn Property="x => x.Message" Title="Message" Sortable="false" Filterable="true">
                    <CellTemplate>
                        <div style="overflow-y: auto; max-height: 60px; max-width: 450px; white-space: normal; word-wrap: break-word; padding: 0; margin: 0;">
                            @context.Item.Message
                        </div>
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.CreatedAt" Title="CreatedAt" Sortable="true" Filterable="false" >
                    <CellTemplate>
                        @context.Item.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="Contact" />
            </PagerContent>
        </MudDataGrid>

        <MudDataGrid T="EmailSubscription" Items="@emailSubscriptions" MultiSelection="true" SortMode="SortMode.Multiple" Filterable="true"
        Hideable="true" QuickFilter="@quickFilterEmailSubscriptions" @ref="emailSubscriptionGrid">
            <ToolBarContent>
                <MudText Typo="Typo.h4">Email Subscriptions</MudText>
                <MudSpacer />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!emailSubscriptionGrid.SelectedItems.Any())" OnClick="OpenEmailDialogAsync">
                Send Email
                </MudButton>
                <MudSpacer />
                <MudTextField @bind-Value="searchEmailSubscriptionsString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <Columns>
                <SelectColumn T="EmailSubscription" />
                <PropertyColumn Property="x => x.Id" Title="Id" Sortable="true" Filterable="false" />
                <PropertyColumn Property="x => x.Email" Title="Email" Sortable="true" Filterable="true" />
                <PropertyColumn Property="x => x.IsSubscribed" Title="IsSubscribed" Sortable="false" Filterable="true" />
                <PropertyColumn Property="x => x.SubscribedAt" Title="SubscribedAt" Sortable="true" Filterable="true" >
                    <CellTemplate>
                        @context.Item.SubscribedAt.ToString("dd-MM-yyyy HH:mm:ss")
                    </CellTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.UnsubscribedAt" Title="UnsubscribedAt" Sortable="false" Filterable="true" />
                <PropertyColumn Property="x => x.CreatedAt" Title="CreatedAt" Sortable="true" Filterable="false" >
                    <CellTemplate>
                        @context.Item.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="EmailSubscription" />
            </PagerContent>
        </MudDataGrid>
    </div>
</section>

@code {
    private string pageTitle = "Admin Dashboard | Ítala Veloso";
    private AuthenticationState authState;
    private List<Contact> contacts;
    private List<EmailSubscription> emailSubscriptions;
    private MudDataGrid<EmailSubscription> emailSubscriptionGrid;

    private string loginError = string.Empty;
    private string searchContactsString {get; set;}
    private string searchEmailSubscriptionsString {get; set;}

    private Func<Contact, bool> quickFilterContacts => c =>
        string.IsNullOrEmpty(searchContactsString) ||
        c.FullName.Contains(searchContactsString, StringComparison.OrdinalIgnoreCase) ||
        c.Email.Contains(searchContactsString, StringComparison.OrdinalIgnoreCase) ||
        c.Message.Contains(searchContactsString, StringComparison.OrdinalIgnoreCase);

    private Func<EmailSubscription, bool> quickFilterEmailSubscriptions => e =>
        string.IsNullOrEmpty(searchEmailSubscriptionsString) ||
        e.Email.Contains(searchEmailSubscriptionsString, StringComparison.OrdinalIgnoreCase);

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        contacts = ContactService.GetAllContacts() ?? new List<Contact>();
        emailSubscriptions = EmailSubscriptionService.GetAllEmailSubscriptions() ?? new List<EmailSubscription>();
    }

    private Task OpenEmailDialogAsync()
    {
        var parameters = new DialogParameters
        {
            { "RecipientEmails", emailSubscriptionGrid.SelectedItems.Select(e => e.Email).ToList() }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true };

        return DialogService.ShowAsync<SendEmailDialog>("Compose Email", parameters, options);
    }

    private async Task LogoutUser()
    {
        try
        {
            var result = await JSRuntime.InvokeAsync<SessionResult>("logout");

            if (result.Success)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
                loginError = result.Error;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during logout: {ex.Message}");
            loginError = "An unexpected error occurred. Please try again.";
        }
    }
}